apiVersion: apps/v1
kind: Deployment
metadata:
  name: netflix-deployment
  labels:
    app: netflix-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: netflix-app
  template:
    metadata:
      labels:
        app: netflix-app
    spec:
      imagePullSecrets:
      - name: ecr-secret
      containers:
        - name: netflix-container
          image: "124355676261.dkr.ecr.us-east-1.amazonaws.com/netflix-clone:latest"
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: "128Mi"    # Lower from 512Mi
              cpu: "100m"        # Lower from 250m
            limits:
              memory: "256Mi"
              cpu: "500m"